{% extends 'base.html' %}

{% block title %}Demande d'emprunt - {{ book.title }}{% endblock %}

{% block content %}
<h2>Demander à emprunter : <strong>{{ book.title }}</strong></h2>

<form method="post" class="mt-3">
  <div class="mb-3">
    <label for="prenom" class="form-label">Prénom</label>
    <input type="text" class="form-control" name="prenom" required>
  </div>
  <div class="mb-3">
    <label for="nom" class="form-label">Nom</label>
    <input type="text" class="form-control" name="nom" required>
  </div>
  <button type="submit" class="btn btn-primary">Envoyer la demande</button>
</form>
{% endblock %}
